*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$rubik-font: 'Rubik', sans-serif;
$roboto-font: 'Roboto', sans-serif;

@mixin font-parameter($font-size, $font-weight, $color, $text-decoration, $text-transform, $font-family){
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    text-decoration: $text-decoration;
    text-transform: $text-transform;
    font-family: $font-family;
}

@mixin flex-parameter($justify-content, $flex-direction, $align-items){
    display: flex;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
    align-items: $align-items;
}


body{
    .container{
        max-width: 1480px;
        margin: auto;
    }

    header{
        filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
        background-color: #2A8086;
        padding: 13px 0;
        .header-wrapper{
            position: relative;
            @include flex-parameter(auto, row, center);
            .logo{
                margin-right: 53px
            }
            nav{
                margin-right: 691px;
                ul{
                    @include flex-parameter(auto, row, center);
                    .nowrap a{
                        margin-right: 0px;
                    }
                    .selected-page-nav{
                        border-bottom: 2px solid #C5E1E6;
                        
                    
                    }
                    li{
                        list-style-type: none;
                        
                        
                        a{
                            white-space: nowrap;
                            margin-right: 52px;
                            @include font-parameter(18px, 500, #C5E1E5,none, uppercase, $roboto-font);

                        }
                    }
                    
                }
            }
            .search{
                border: none;
                background: none;
                margin-right: 40px;
            }
            .log-menu{
                @include flex-parameter(auto, row, center);
                // position: absolute;
                // right: -114px;

                button{
                    background: none;
                    border: none;
                    white-space: nowrap;
                    height: 21px;
                    @include font-parameter(18px, 400, #C5E1E5, none, uppercase, $roboto-font)
                    
                    
                    
                    
                }
                .log-in{
                    margin-right: 24px;
                    
                }
                .sign-up{
                    border-radius: 100px;
                    border: 1px solid #C5E1E6;
                    padding: 15px;
                    padding-bottom: 35px;
                }
            }

        }

    }
    main{
        .firstpage{
            background-image: url(../img/main-background.svg);
            background-repeat: no-repeat;
            background-position: center;  
            width: 100%;
            padding: 15px 0px 89px;
            .first-page-wrapper{
                @include flex-parameter(space-between, row, auto);
                .first-page-text{
                    h1{
                        margin-top: 70px;
                        @include font-parameter(64px, 500, #F3F7F8, none, none, $rubik-font);
                        margin-bottom: 27px;    
                        span{
                            @include font-parameter(72px, 300, #F3F7F8, none ,none, $rubik-font); 
                        }
                    }
                    p{
                        @include font-parameter(14px, 400, #F3F7F8, none, none, $roboto-font);
                        margin-bottom: 87px;
                    }
                    button{
                        width: 258px;
                        height: 52px;
                        background-color: white;
                        border: none;
                        border-radius: 100px;
                        box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);

                        @include font-parameter(18px, 400, #0D444D, none, uppercase, $roboto-font)
                        // #0D444D
                    }
                    
                }
                .first-page-img{
                    position: relative;
                        button{
                            position: absolute;
                            width: 98.36px;
                            height: 73.77px;
                            background: none;
                            border: none;
                            top: 308px;
                            right: 340px;
                        }
                        
                    }
                
            }
        }  
    }

}